.navbar {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: top 0.3s ease-in-out;
  margin-top: 0;
}

.navbar.show {
  top: -10px;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff;
}

.container-fluid {
  padding: 1rem;
  background-color: #333;
}

.hide {
  top: -60px;
}

@media (max-width: 991.98px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
